In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection, tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

In [2]:
df=pd.read_csv("final_.csv")

In [3]:
df.head()

   GENDER  AGEGRP1  NGROUP     BILL  REGION  CLASS  ORGYN  AFFL  LTIME
0       3        3       2  3000.00       2      2      0    12     39
1       1        1       4  5000.01       1      3      1     8      9
2       2        3       2  5000.01       2      3      0     5      9
3       2        3       2   380.00       1      2      0     6     36
4       1        3       2  5000.01       5      3      0     9      8

In [4]:
df.dtypes

GENDER       int64
AGEGRP1      int64
NGROUP       int64
BILL       float64
REGION       int64
CLASS        int64
ORGYN        int64
AFFL         int64
LTIME        int64
dtype: object

In [5]:
df['GENDER'] = df['GENDER'].astype('category')
df['AGEGRP1'] = df['AGEGRP1'].astype('category')
df['NGROUP'] = df['NGROUP'].astype('category')
df['REGION'] = df['REGION'].astype('category')
df['CLASS'] = df['CLASS'].astype('category')
df['ORGYN'] = df['ORGYN'].astype('category')

In [6]:
df.dtypes

GENDER     category
AGEGRP1    category
NGROUP     category
BILL        float64
REGION     category
CLASS      category
ORGYN      category
AFFL          int64
LTIME         int64
dtype: object

In [7]:
sm=SMOTE(random_state=12, ratio=1.0)

# Separate Data
X = df[['GENDER','AGEGRP1','NGROUP','BILL','REGION','CLASS','AFFL','LTIME']]
Y = df['ORGYN']
seed = 9
validation_size = 0.3
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)
X1_train,Y1_train=sm.fit_resample(X_train,Y_train)
print(X1_train.shape, len(Y_test))

(23432, 8) 6667

In [8]:
# Build the model and Evaluate
dt_model = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=seed) # Default Gini
dt = dt_model.fit(X1_train, Y1_train)
dt_prediction = dt.predict(X_test)
print('Akurasi = ', accuracy_score(Y_test, dt_prediction))
print(confusion_matrix(Y_test, dt_prediction))
print(classification_report(Y_test, dt_prediction))

Akurasi =  0.7610619469026548
[[4009  993]
 [ 600 1065]]
              precision    recall  f1-score   support

           0       0.87      0.80      0.83      5002
           1       0.52      0.64      0.57      1665

   micro avg       0.76      0.76      0.76      6667
   macro avg       0.69      0.72      0.70      6667
weighted avg       0.78      0.76      0.77      6667